$backgroundHome: url('/src/Assets/Images/Background/home.jpg');
$fullWindowWidth: 100vw;
$fullWindowHeight: 100vh;
$fullWidth: 100%;
$white: #fff;
$black: #000;
$purple: #6B63B5;
$purpleHover: rgba(107, 99, 181, 0.6);
$darkPurple: #403B6D;
$gray: #999999;
$lightGray: #ccc;
$grayMedium: #b8b8b8;
$grayBorder: rgba(38, 50, 56, 0.38);;
$grayInput: rgba(38, 50, 56, 0.06);
$darkGray: rgba(38, 50, 56, 1);
$backgroundBtnPrimary: rgba(0, 0, 0, 0.6);
$backgroundBtnDisabled: rgba(0, 0, 0, 0.1);
$alert: rgba(255, 0, 0, 0.6);
$genericCard: linear-gradient(135deg, #000 0%, #fff 100%);
$gryffindorCard: linear-gradient(135deg, #FF0000 0%, #FED482 100%);
$slytherynCard: linear-gradient(135deg, #1C792B 0%, #82E95E 100%);
$hufflePuffCard: linear-gradient(135deg, #FFC700 0%, #FFF388 100%);
$ravenClawCard: linear-gradient(135deg, #0597B7 0%, #66D1FF 100%);
$small: .6em;
$medium: 1em;
$big: 1.5em;
$midBig: .8em;