@import '../variables/variables.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: $fullWindowHeight;
}

.box {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 2em;
}

.box-wrap {
  flex: 0 1 auto;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  max-width: 940px;
  width: 90%;
}

.box-content {
  display: flex;
  flex-basis: 100%;
}

.box-centered, .box-between {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.box-between {
  justify-content: space-between;
}

.box-centered img {
  width: 15%;
}

.card {
  display: flex;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  flex-basis: 48%;
  height: 200px;
  margin-bottom: 2%;
  width: 48%;
}

.blurCard {
  opacity: .8;
}

.box-photo {
  background-image: $genericCard;
  border-radius: 10px 0 0 10px;
  padding: 1em;
  flex-basis: 40%;
  -webkit-border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  -ms-border-radius: 10px 0 0 10px;
  -o-border-radius: 10px 0 0 10px;
}

.Gryffindor {
  background-image: $gryffindorCard;
}

.Slytherin {
  background-image: $slytherynCard;
}

.Hufflepuff {
  background-image: $hufflePuffCard;
}

.Ravenclaw {
  background-image: $ravenClawCard;
}

.photo-card {
  display: flex;
  justify-content: center;
}

.photo-card img{
  border-radius: 50%;
  width: 100%;
  height: 147px;
  object-fit: cover;
  object-position: top;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.photo-loading {
  border-radius: 50%;
  height: 247px;
  margin-top: 3em;
  object-fit: cover;
  object-position: top;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.box-info {
  background-color: $white;
  border-radius: 0 10px 10px 0;
  flex-basis: 60%;
  -webkit-border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  -ms-border-radius: 0 10px 10px 0;
  -o-border-radius: 0 10px 10px 0;
  padding: 1em;
}

.box-actions {
  font-size: $midBig;
  position: fixed;
  top: 0;
  right: 10%;
  z-index: 1;
}

.btn-action {
  background-color: $purple;
  border-radius: 0 0 0 10px;
  border: 0;
  color: $white;
  cursor: pointer;
  outline: 0;
  padding: 0.5em 1em;
  -webkit-border-radius: 0 0 0 10px;
  -moz-border-radius: 0 0 0 10px;
  -ms-border-radius: 0 0 0 10px;
  -o-border-radius: 0 0 0 10px;
}

.btn-add {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 10px 0;
  border-left: 1px solid $black;
  -webkit-border-radius: 0 0 10px 0;
  -moz-border-radius: 0 0 10px 0;
  -ms-border-radius: 0 0 10px 0;
  -o-border-radius: 0 0 10px 0;
}

.btn-remove {
  background: none;
}

.btn-fav {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-bookmark {
  background: none;
  border: 0;
  color: $lightGray;
  cursor: pointer;
  font-size: $medium;
  outline: 0;
}

.btn-bookmark.--bookmarked {
  color: $black;
}

img {
  max-width: 100%;
}

.card-header {
  display: flex;
  justify-content: space-between;
}

.p-0 {
  padding: 0;
}

.m-0 {
  margin: 0;
}

.mt-1 {
  margin-top: 1em;
}

.mt-2 {
  margin-top: 2em;
}

.mt-3 {
  margin-top: 3em;
}

.mb-1 {
  margin-bottom: 1em;
}

.mb-2 {
  margin-bottom: 2em;
}

.mb-3 {
  margin-bottom: 3em;
}

.text-white {
  color: $white;
}

.text-title {
  font-size: 2.2em;
  font-weight: bold;
}

.text-small {
  font-size: $small;
}

.text-big {
  font-size: $big;
}

.text-midBig {
  font-size: $midBig;
} 

.title-card {
  color: $gray;
  font-size: $small;
  font-weight: bold;
  text-transform: uppercase;
}

.name-card {
  font-size: $big;
  margin: .5em 0 1em 0;
}

.description-card {
  font-size: $small;
  line-height: .7;
}

.btn-primary {
  background-color: $backgroundBtnPrimary;
  border: 2px solid $purple;
  color: $white;
  cursor: pointer;
  font-size: .8em;
  font-weight: 600;
  margin-right: 2em;
  padding: 1em;
  outline: 0;
  text-transform: uppercase;
  width: 176px;
}

.btn-primary:hover {
  background-color: $purpleHover;
}

.btn-primary:active {
  background-color: $purple;
}

.btn-primary:disabled, .btn-primary[disabled] {
  background-color: $backgroundBtnDisabled;
  border: 0;
  cursor: not-allowed;
}

.toolbar-content {
  border-radius: 0 0 10px 10px;
  color: $white;
  display: flex;
  background: $purple;
  margin-top: -10px;
  padding-top: 1em;
  flex-direction: column;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -ms-border-radius: 0 0 10px 10px;
  -o-border-radius: 0 0 10px 10px;
  position: fixed;
  top: 30px;
  width: 190.5px;
  right: 10%;
  z-index: 1;
}

.display-none {
  display: none;
}

.display-flex {
  display: flex;
}

.toolbar-content img {
  border-radius: 50%;
  width: 100%;
  height: 25px;
  object-fit: cover;
  object-position: top;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.toolbar-item {
  border-bottom: 1px solid $darkPurple;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.2em;
}

.toolbar-item img {
  flex-basis: 15%;
}

.toolbar-item span {
  flex-basis: 70%;
  padding-left: .5em;
}

.toolbar-item:nth-last-child(1) {
  border-bottom: 0;
}

.box-modal {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  z-index: 10000;
}

.show-modal {
  display: flex;
}

.hide-modal {
  display: none;
}

.modal-content {
  background-color: #fefefe;
  border-radius: 10px;
  margin: 15% auto;
  padding: 2em;
  border: 1px solid $gray;
  height: fit-content;
  width: 500px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.modal-info {
  width: 100%;
  align-items: center;
}

.close-modal {
  cursor: pointer;
  font-size: $big;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 49%;
  width: 49%;
}

.box-form {
  margin-top: 1em;
  padding: 0;
  width: 100%;
}

.input-text, .input-select {
  background-color: $grayInput;
  border: 0;
  border-bottom: 1.5px solid $grayBorder;
  border-radius: 5px 5px 0 0;
  height: 50px;
  outline: 0;
  padding: 0 1em;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
}

.text-input {
  color: $darkGray;
  font-size: $midBig;
  margin-bottom: .5em;
  text-transform: uppercase;
}

.input-radio {
  align-items: center;
  display: flex;
}

.box-alert {
  display: flex;
  position: absolute;
  color: $white;
  top: 1%;
  left: 2em;
  border: 2px solid red;
  background: $alert;
  width: 305px;
  opacity: .9;
  padding: 1em;
  align-items: center;
  height: 30px;
  justify-content: space-between;
}

.box-left {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  flex-direction: column;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 640px) {
  .container {
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
  }

  .box {
    padding: 1em;
  }

  .box-between {
    width: 100%;
  }

  .box-between div {
    flex-basis: 49%;
  }

  .btn-primary {
    margin-right: 0;
    width: 100%;
  }

  .box-centered img {
    width: 50%;
  }

  .text-title {
    font-size: 1.4em;
  }

  .box-wrap {
    width: auto;
  }

  .card {
    flex-direction: column;
    height: 235px;
  }

  .photo-card img {
    height: 97px;
    width: 70%;
  }

  .box-photo {
    border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -ms-border-radius: 10px 10px 0px 0px;
    -o-border-radius: 10px 10px 0px 0px;
  }

  .box-info {
    border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -ms-border-radius: 0 0 10px 10px;
    -o-border-radius: 0 0 10px 10px;
  }

  .name-card {
    font-size: $midBig;
    text-align: center;
  }

  .card-header {
    order: 2;
  }

  .box-description {
    display: none;
  }

  .box-info {
    display: flex;
    flex-direction: column;
  }

  .box-actions {
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
    top: initial;
    bottom: 0;
    right: initial;
    z-index: 1;
    width: 92%;
  }

  .btn-action {
    border-radius: 10px 0 0 0;
    -webkit-border-radius: 10px 0 0 0;
    -moz-border-radius: 10px 0 0 0;
    -ms-border-radius: 10px 0 0 0;
    -o-border-radius: 10px 0 0 0;
    padding: 1em;
  }

  .toolbar-item {
    height: 4em;
  }

  .toolbar-content {
    bottom: 15px;
    padding-bottom: 1.5em;
    padding-top: 0;
    right: initial;
    top: initial;
    width: 92%;
  }

  .toolbar-content img {
    height: 53px;
  }

  .btn-add {
    border-radius: 0 10px 0 0;
    -webkit-border-radius: 0 10px 0 0;
    -moz-border-radius: 0 10px 0 0;
    -ms-border-radius: 0 10px 0 0;
    -o-border-radius: 0 10px 0 0;
    width: 50%;
  }

  .btn-fav {
    width: 50%;
  }

  .modal-content{
    height: 100%;
    margin: 0;
  } 

  .box-centered {
    width: 100%;
  }  

  .text-radio {
    font-size: $small;
  }

  .photo-loading {
    height: 200px;
  }

  .box-alert {
    top: .5%;
    left: 5%;
    position: fixed;
    background: red;
    opacity: 1;
    border: 1px solid $white;
    z-index: 10;
    width: 80%;
  }
}

@media (min-width: 560px) and (max-width: 640px) {
  .photo-card img {
    height: 103px;
    width: 40%;
  }

  .toolbar-item img {
    flex-basis: 10%;
  }

  .toolbar-item span {
    flex-basis: 75%;
  }
}

@media (min-width: 460px) and (max-width: 559px) {
  .photo-card img {
    height: 83px;
    width: 45%;
  }

  .toolbar-item img {
    flex-basis: 11%;
  }
  
  .toolbar-item span {
    flex-basis: 74%;
  }
}